doctype html
html(lang='en')
head
	meta(charset="utf-8")
	title Untitled
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
	

body
	div.container
		block content
	script(src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js")
	script(src="http://code.jquery.com/jquery-2.1.1.min.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

	block script
	